

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #4CAF50;
    color: white;
}
.edit-button, .delete-button, .back-button {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.edit-button {
    background-color: #4CAF50;
}
.delete-button {
    background-color: #f44336;
}
.back-button {
    background-color: #2196F3;
}
